<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TaskCommander</title>
    <link rel="stylesheet" href="/styles/main.css" th:href="@{/styles/main.css}" type="text/css">
    <link rel="stylesheet" type="javascript" th:href="@{/scripts/common.js}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="../../static/scripts/common.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>
<body>
<div th:replace="~{header :: header}"></div>

<div class="add-company-main-content-box">
    <div class="add-company-header">Dodaj firmę</div>
    <form th:action="@{/company/add-company}" method="post" th:object="${company}">
        <div th:if="${error}" th:text="${error}" class="alert alert-danger"></div>
        <div class="grid-container">
            <div class="add-company-basic-info-container">
                <h3 class="add-info-font">Dane podstawowe:</h3>
                <tr>
                    <td>
                        <input class="text-input-style" type="text" name="nip" th:field="*{nip}" pattern="^\d{10}$"
                               placeholder=" Nr NIP: 12345678910" required></td>
                </tr>
                <tr>
                    <td><input class="text-input-style" type="text" name="title" th:field="*{companyName}"
                               placeholder=" Nazwa firmy" required></td>
                </tr>

                <select class="text-input-style" name="currency" th:field="*{currency}" required>
                    <option value="">Waluta</option>
                    <option value="PLN">PLN</option>
                    <option value="EUR">EUR</option>
                    <option value="USD">USD</option>
                </select>

                <tr>
                    <td><input class="text-input-style" type="text" name="billingEmail" th:field="*{billingMail}"
                               placeholder=" Mail do fv" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                    </td>
                </tr>
                <tr>
                    <td><input class="text-input-style" th:field="*{billingStreetName}" type="text"
                               name="billingStreetName"
                               placeholder="Ulica" required>
                    </td>
                </tr>
                <tr>
                    <td><input class="short-text-input-style" th:field="*{billingBuildingNumber}" type="text"
                               name="billingBuildingNumber"
                               placeholder="Numer budynku" required>
                    </td>
                </tr>
                <tr>
                    <td><input class="short-text-input-style" th:field="*{billingApartmentNumber}" type="text"
                               name="billingApartmentNumber"
                               placeholder="Numer mieszkania">
                    </td>
                </tr>
                <tr>
                    <td><input class="text-input-style" th:field="*{billingCity}" type="text" name="billingCity"
                               placeholder="Miasto"
                               required>
                    </td>
                </tr>
                <tr>
                    <td><input class="text-input-style" th:field="*{billingPostalCode}" type="text"
                               name="billingPostalCode"
                               placeholder="Kod pocztowy" required>
                    </td>
                </tr>
                <tr>
                    <td><input class="long-text-input-style" type="text" name="additionalNotes"
                               th:field="*{additionalNotes}"
                               placeholder=" Uwagi"></td>
                </tr>
            </div>
        </div>
        <div class="submit-button-addres-form">
            <button type="submit" class="add-company-button-tunCR Buttons-module-primary--YHdl"
                    tabindex="0">Dodaj
            </button>
        </div>
    </form>
</div>

<div th:replace="~{side-content :: side-content}"></div>
<div th:replace="~{footer :: footer}"></div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var button = document.getElementById("clients-dropdown-button");
        var dropdownList = document.getElementById("clients-dropdown-list");

        button.addEventListener("click", function (event) {
            dropdownList.classList.toggle("show");
            event.stopPropagation();
        });

        document.addEventListener("click", function (event) {
            if (!button.contains(event.target)) {
                dropdownList.classList.remove("show");
            }
        });
    });
</script>
<script>
    function updateTime() {
        var currentTime = new Date();
        var hours = currentTime.getHours();
        var minutes = currentTime.getMinutes();
        var formattedTime = (hours < 10 ? "0" : "") + hours + ":" + (minutes < 10 ? "0" : "") + minutes;
        document.getElementById("current-time").innerText = formattedTime;
    }

    setInterval(updateTime, 1000);
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var button = document.getElementById("user-dropdown-button");
        var dropdownList = document.getElementById("user-dropdown-list");

        button.addEventListener("click", function () {
            dropdownList.classList.toggle("show");
        });

        document.addEventListener("click", function (event) {
            if (!button.contains(event.target)) {
                dropdownList.classList.remove("show");
            }
        });
    });
</script>
<script>
    function generateCalendar() {
        const currentDate = new Date();
        const currentMonth = currentDate.getMonth();
        const currentYear = currentDate.getFullYear();
        const currentDay = currentDate.getDate();
        const daysInMonth = new Date(currentYear, currentMonth + 1, 0).getDate();
        const firstDayIndex = new Date(currentYear, currentMonth, 1).getDay();

        const calendarBody = document.getElementById("calendar-body");
        const currentMonthName = document.getElementById("current-month");

        if (calendarBody && currentMonthName) {
            currentMonthName.textContent = new Date(currentYear, currentMonth).toLocaleString('default', {month: 'long'});

            let days = "";
            let dayIndex = 0;

            for (let i = 0; i < 6; i++) { // 6 wierszy dla każdego możliwego układu kalendarza
                days += "<tr>";

                for (let j = 0; j < 7; j++) { // 7 dni tygodnia
                    if (i === 0 && j < (firstDayIndex === 0 ? 6 : firstDayIndex - 1)) { // Zaczynamy od poniedziałku
                        days += `<td></td>`;
                    } else if (dayIndex < daysInMonth) {
                        dayIndex++;
                        const isCurrentDay = dayIndex === currentDay ? " current-day" : "";
                        const isWeekend = (j === 5 || j === 6) ? " weekend" : "";
                        days += `<td class="calendar-day${isCurrentDay}${isWeekend}">${dayIndex}</td>`;
                    } else {
                        days += `<td></td>`;
                    }
                }

                days += "</tr>";
            }

            calendarBody.innerHTML = days;
        } else {
            console.error("Nie można odnaleźć elementu 'calendar-body' lub 'current-month'.");
        }
    }

    generateCalendar();
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        generateCalendar();
    });
</script>
</body>
</html>