<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TaskCommander</title>
    <link rel="stylesheet" href="/styles/main.css" th:href="@{/styles/main.css}" type="text/css">
    <link rel="stylesheet" type="javascript" th:href="@{/static/scripts/common.js}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="../static/scripts/common.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>
<body>
<div th:replace="~{header :: header}"></div>

<div class="company-preview-main-content-box">
    <div id="customDialogOverlay" class="custom-dialog-overlay">
        <div id="customDialogBox" class="custom-dialog-box">
            <p>Czy chcesz usunąć tą firmę?</p>
            <button onclick="submitForm('deleteCompany')">Tak</button>
            <button onclick="submitForm('dontDeleteCompany')">Nie</button>
        </div>
    </div>
    <input type="hidden" id="action" value="">
    <div class="users-checkbox-customers-database">
        <form th:action="@{/company/customers-database}" method="get">
            <fieldset>
                <legend>Sales Engineers:</legend>
                <span th:each="user : ${salesEngineers}">
                <label>
                    <input type="checkbox" name="salesEngineerIds" th:value="${user.id}"
                           th:text="${user.firstName + ' ' + user.lastName + ' (' + user.area + ')'}">
                </label>
            </span>
            </fieldset>
            <button type="submit">Wybierz</button>
        </form>
    </div>
    <div class="grid-container-company-preview">
        <div class="company-database-info-container">
            <h2 class="company-database-header">Baza klientów</h2>
            <table class="companies-table">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>NIP</th>
                    <th>Adres rejestrowy</th>
                    <th>Odpowiedzialny</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="company : ${allCompanies}">
                    <td th:text="${company.companyName}">Company name</td>
                    <td th:text="${company.nip}">NIP</td>
                    <td th:text="${company.billingStreetName} + ${company.billingBuildingNumber} + ' ' + ${company.billingApartmentNumber} + ' ' + ${company.billingCity} + ', ' + ${company.billingPostalCode}">
                        Billing address
                    </td>
                    <td>
                        <span th:each="person : ${company.responsiblePerson}">
                            <span th:text="${person.firstName + ' ' + person.lastName + ' (' + person.area +')'}"></span>
                            <br/>
                        </span>
                    </td>
                    <td>
                        <a class="company-database-action-button" th:href="@{'/company/' + ${company.nip}}" title="Show" th:text="Szczegóły">
                        </a>
                        <a class="company-database-action-button" href="#" title="Delete" th:text="Usuń" id="deleteCompany" th:onclick="showConfirmDialog()"
                           th:attr="data-nip=${company.nip}"></a>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


<div th:replace="~{side-content :: side-content}"></div>
<div th:replace="~{footer :: footer}"></div>
<script>
    // Pobierz wszystkie checkboxy
    var checkboxes = document.querySelectorAll('.component-variants input[type="checkbox"]');

    // Dodaj nasłuchiwanie zdarzenia dla kliknięć w checkboxy
    checkboxes.forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            // Wyślij formularz po zmianie zaznaczenia checkboxa
            this.closest('form').submit();
        });
    });
</script>

<script>
    function showConfirmDialog() {
        var nip = event.target.getAttribute('data-nip');
        document.getElementById("action").value = nip;
        document.getElementById("customDialogOverlay").classList.add("custom-dialog-shown");
    }

    function submitForm(confirmAction) {
        if (confirmAction === 'deleteCompany') {
            var nip = document.getElementById("action").value;
            window.location.href = '/company/delete-company/' + nip + '?action=deleteCompany';
        } else {
            document.getElementById("customDialogOverlay").classList.remove("custom-dialog-shown");
        }
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var button = document.getElementById("clients-dropdown-button");
        var dropdownList = document.getElementById("clients-dropdown-list");

        button.addEventListener("click", function (event) {
            dropdownList.classList.toggle("show");
            event.stopPropagation();
        });

        document.addEventListener("click", function (event) {
            if (!button.contains(event.target)) {
                dropdownList.classList.remove("show");
            }
        });
    });
</script>
<script>
    function updateTime() {
        var currentTime = new Date();
        var hours = currentTime.getHours();
        var minutes = currentTime.getMinutes();
        var formattedTime = (hours < 10 ? "0" : "") + hours + ":" + (minutes < 10 ? "0" : "") + minutes;
        document.getElementById("current-time").innerText = formattedTime;
    }

    setInterval(updateTime, 1000);
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var button = document.getElementById("user-dropdown-button");
        var dropdownList = document.getElementById("user-dropdown-list");

        button.addEventListener("click", function () {
            dropdownList.classList.toggle("show");
        });

        document.addEventListener("click", function (event) {
            if (!button.contains(event.target)) {
                dropdownList.classList.remove("show");
            }
        });
    });
</script>
<script>
    function generateCalendar() {
        const currentDate = new Date();
        const currentMonth = currentDate.getMonth();
        const currentYear = currentDate.getFullYear();
        const currentDay = currentDate.getDate();
        const daysInMonth = new Date(currentYear, currentMonth + 1, 0).getDate();
        const firstDayIndex = new Date(currentYear, currentMonth, 1).getDay();

        const calendarBody = document.getElementById("calendar-body");
        const currentMonthName = document.getElementById("current-month");

        if (calendarBody && currentMonthName) {
            currentMonthName.textContent = new Date(currentYear, currentMonth).toLocaleString('default', {month: 'long'});

            let days = "";
            let dayIndex = 0;

            for (let i = 0; i < 6; i++) { // 6 wierszy dla każdego możliwego układu kalendarza
                days += "<tr>";

                for (let j = 0; j < 7; j++) { // 7 dni tygodnia
                    if (i === 0 && j < (firstDayIndex === 0 ? 6 : firstDayIndex - 1)) { // Zaczynamy od poniedziałku
                        days += `<td></td>`;
                    } else if (dayIndex < daysInMonth) {
                        dayIndex++;
                        const isCurrentDay = dayIndex === currentDay ? " current-day" : "";
                        const isWeekend = (j === 5 || j === 6) ? " weekend" : "";
                        days += `<td class="calendar-day${isCurrentDay}${isWeekend}">${dayIndex}</td>`;
                    } else {
                        days += `<td></td>`;
                    }
                }

                days += "</tr>";
            }

            calendarBody.innerHTML = days;
        } else {
            console.error("Nie można odnaleźć elementu 'calendar-body' lub 'current-month'.");
        }
    }

    generateCalendar();
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        generateCalendar();
    });
</script>
</body>
</html>