<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TaskCommander</title>
    <link rel="stylesheet" href="/styles/main.css" th:href="@{/styles/main.css}" type="text/css">
    <link rel="stylesheet" type="javascript" th:href="@{/scripts/common.js}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="../../static/scripts/common.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>
<body>
<div th:replace="~{header :: header}"></div>

<div class="add-company-main-content-box">
    <div class="add-company-header">Dodaj zapytanie</div>
    <form th:action="@{/inquiry/create-offer}" method="post">
        <div th:if="${error}" th:text="${error}" class="alert alert-danger"></div>
        <div class="grid-container">
            <div class="add-company-basic-info-container">
                <h3 class="add-info-font">Dane:</h3>

                <tr>
                    <td>
                        <input class="text-input-style" type="text" name="offerType" placeholder="Rodzaj oferty" required
                               list="offerType">
                        <datalist id="offerType">
                            <option th:value="Component">MULK (Component)</option>
                            <option th:value="Construction">KULM (Construction)</option>
                        </datalist>
                    </td>
                </tr>
                <input list="companies" class="text-input-style" name="nip" placeholder=" Firma" required>
                <datalist id="companies">
                    <option th:each="company : ${companies}" th:value="${company.nip}" th:text="${company.companyName}"></option>
                </datalist>
            </div>
        </div>
        <div class="submit-button-addres-form">
            <button type="submit" class="add-company-button-tunCR Buttons-module-primary--YHdl"
                    tabindex="0">Kolejny krok
            </button>
        </div>
    </form>
</div>

<div th:replace="~{side-content :: side-content}"></div>
<div th:replace="~{footer :: footer}"></div>
<script>
    $(document).ready(function() {
        $('.responsible-checkbox').prop('checked', false);

        $('.responsible-checkbox').change(function() {
            var atLeastOneChecked = $('.responsible-checkbox:checked').length > 0;

            $('.responsible-checkbox').prop('required', !atLeastOneChecked);

            $('.responsible-checkbox').each(function() {
                if ($(this).is(':checked')) {
                    $(this).next('label').addClass('checked');
                } else {
                    $(this).next('label').removeClass('checked');
                }
            });
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var button = document.getElementById("clients-dropdown-button");
        var dropdownList = document.getElementById("clients-dropdown-list");

        button.addEventListener("click", function (event) {
            dropdownList.classList.toggle("show");
            event.stopPropagation();
        });

        document.addEventListener("click", function (event) {
            if (!button.contains(event.target)) {
                dropdownList.classList.remove("show");
            }
        });
    });
</script>
<script>
    function updateTime() {
        var currentTime = new Date();
        var hours = currentTime.getHours();
        var minutes = currentTime.getMinutes();
        var formattedTime = (hours < 10 ? "0" : "") + hours + ":" + (minutes < 10 ? "0" : "") + minutes;
        document.getElementById("current-time").innerText = formattedTime;
    }

    setInterval(updateTime, 1000);
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var button = document.getElementById("user-dropdown-button");
        var dropdownList = document.getElementById("user-dropdown-list");

        button.addEventListener("click", function () {
            dropdownList.classList.toggle("show");
        });

        document.addEventListener("click", function (event) {
            if (!button.contains(event.target)) {
                dropdownList.classList.remove("show");
            }
        });
    });
</script>
<script>
    function generateCalendar() {
        const currentDate = new Date();
        const currentMonth = currentDate.getMonth();
        const currentYear = currentDate.getFullYear();
        const currentDay = currentDate.getDate();
        const daysInMonth = new Date(currentYear, currentMonth + 1, 0).getDate();
        const firstDayIndex = new Date(currentYear, currentMonth, 1).getDay();

        const calendarBody = document.getElementById("calendar-body");
        const currentMonthName = document.getElementById("current-month");

        if (calendarBody && currentMonthName) {
            currentMonthName.textContent = new Date(currentYear, currentMonth).toLocaleString('default', {month: 'long'});

            let days = "";
            let dayIndex = 0;

            for (let i = 0; i < 6; i++) { // 6 wierszy dla każdego możliwego układu kalendarza
                days += "<tr>";

                for (let j = 0; j < 7; j++) { // 7 dni tygodnia
                    if (i === 0 && j < (firstDayIndex === 0 ? 6 : firstDayIndex - 1)) { // Zaczynamy od poniedziałku
                        days += `<td></td>`;
                    } else if (dayIndex < daysInMonth) {
                        dayIndex++;
                        const isCurrentDay = dayIndex === currentDay ? " current-day" : "";
                        const isWeekend = (j === 5 || j === 6) ? " weekend" : "";
                        days += `<td class="calendar-day${isCurrentDay}${isWeekend}">${dayIndex}</td>`;
                    } else {
                        days += `<td></td>`;
                    }
                }

                days += "</tr>";
            }

            calendarBody.innerHTML = days;
        } else {
            console.error("Nie można odnaleźć elementu 'calendar-body' lub 'current-month'.");
        }
    }

    generateCalendar();
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        generateCalendar();
    });
</script>
</body>
</html>