body {
    font-family: 'Montserrat'; font-size: 22px;    margin: 0;
    padding: 0;
    background-image: url('../images/tlo-strony.webp');
    background-size: auto;
}
.logo{
    width: 220px;
    height: 60px;
    color: white;
    text-align: center;
    display: table-row;
    font-size: 11px;
    font-family: Montserrat;
    letter-spacing: 8px;
    position: relative;
    left: 1%;
    margin-top: 0.5%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: transparent;
    position: relative;
}

.upper-part-logo {
    /*color: #f0f0f0;*/
    /*padding: 0px;*/
    /*font-size: 20px;*/
    margin: 0px;
    /*position: absolute;*/
    /*left: 7.6%;*/
    /*top: 25px;*/
    /*letter-spacing: 8px;*/
    /*font-weight: 600;*/
}

.upper-part-logo-login {
    color: #f0f0f0;
    padding: 0px;
    font-size: 20px;
    margin: 0px;
    position: absolute;
    left: 47%;
    top: 25px;
    letter-spacing: 8px;
    font-weight: 600;
}

.lower-part-logo {
    /*color: #f0f0f0;*/
    /*padding: 0px;*/
    /*position: absolute;*/
    /*font-size: 20px;*/
    margin: 0px;
    /*left: 4%;*/
    /*top: 52px;*/
    /*letter-spacing: 8px;*/
    /*font-weight: 600;*/
}

.lower-part-logo-login {
    color: #f0f0f0;
    padding: 0px;
    position: absolute;
    font-size: 20px;
    margin: 0px;
    left: 43%;
    top: 52px;
    letter-spacing: 8px;
    font-weight: 600;
}

.search-bar {
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 20px;
    width: 37%;
    position: absolute;
    left: 22%;
    top: 26px;
}

.search-bar input {
    width: 100%;
    height: 45px;
    border: none;
    padding-left: 20px;
    background-color: transparent;
    color: white;
    font-size: 15px;
    font-family: 'Montserrat';
    outline: none;
}

.search-bar input::placeholder {
    color: white;
    font-size: 15px;
    margin-left: 30px;
}

.search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.time p {
    font-size: 45px;
    position: absolute;
    top: -22px;
    left: 62%;
    color: white;
    font-weight: 600;
}


@media screen and (max-width: 1150px) {
    .time p {
        left: 58%;
    }
    .search-bar{
        width: 34%;
    }
    .upper-part-logo{
        font-size: 80%;
        letter-spacing: 7px;
        left: 9%;
    }
    .lower-part-logo{
        font-size: 80%;
        letter-spacing: 7px;
    }
    .result-box .percentage{
        font-size: 90%;
    }
    .result-box .result-value{
        font-size: 90%;
    }
}

@media screen and (max-width: 1050px) {
    .upper-part-logo{
        font-size: 70%;
        letter-spacing: 6px;
        left: 9%;
        top: 29%;
    }
    .lower-part-logo{
        font-size: 70%;
        letter-spacing: 6px;
    }
    .result-box .percentage{
        font-size: 80%;
        top: 30%;
    }
    .result-box .result-value{
        font-size: 80%;
        top: 30%;
    }
    .result-box-header{
        font-size: 90%;
    }
    .result-box-numbers-window {
        top: 18%
    }
}

@media screen and (max-width: 900px) {
    .time p {
        display: none;
    }
    .search-bar{
        width: 48%;
    }
    .lower-part-logo{
        font-size: 60%;
        letter-spacing: 5px;
    }
    .upper-part-logo{
        font-size: 60%;
        letter-spacing: 5px;
        top: 33%;
        left: 9%;
    }
    .result-box .percentage{
        display: none;
    }
    .result-space{
        display: none;
    }
    .result-box .result-value{
        font-size: 80%;
    }
    .result-box-header {
        font-size: 70%;
    }
    .result-box-numbers-window {
        top: 15%;
    }
}

@media screen and (max-width: 750px) {
    .upper-part-logo{
        font-size: 50%;
    }
    .lower-part-logo{
        font-size: 50%;
    }
    .result-box .percentage{
        display: none;
    }
    .result-space{
        display: none;
    }
    .result-box .result-value{
        font-size: 70%;
    }
}

.user-avatar {
    position: absolute;
    width: 37px;
    height: 37px;
    right: calc(100% - 37px - 13px);
    top: 4px;
}

.user-info {
    width: 22%;
    height: 47px;
    background-color: rgba(245, 245, 245, 0.5);
    left: 74%;
    top: 26px;
    opacity: 1;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    position: absolute;
}

.user-mail {
    position: absolute;
    top: 15px;
    right: 12%;
    color: white;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-family: Montserrat;
    font-size: 100%;
    max-width: calc(100% - 52px - 35px); /* Maksymalna szerokość tekstu, aby nie zachodził na user-avatar i user-dropdown-icon */
    white-space: nowrap; /* uniemożliwia zawijanie tekstu */
    overflow: hidden; /* ukrywa zawartość, która wychodzi poza kontener */
    text-overflow: ellipsis;
}

@media screen and (max-width: 768px) { /* reguła dla mniejszych ekranów */
    .user-mail {
        font-size: 85%; /* zmniejszenie rozmiaru tekstu */
    }
}

.user-info button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 13px;
    position: absolute;
    right: 4px;
    top: 14px;
    font-size: 13px;
    font-family: Montserrat;
}

.user-dropdown-icon {
    color: white;
}

.user-dropdown-list {
    visibility: hidden;
    position: relative;
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 12px;
    top: 57px;
    list-style: none;
    z-index: 7;
}

.user-dropdown-list.show {
    visibility: visible;
}

.user-dropdown-list li {
    cursor: pointer;
    padding: 5px;
}

.user-dropdown-list li:hover {
    background-color: #f0f0f0;
}

.user-info-box {
    width: 88%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
}

.user-info-box:hover {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
}

.email-info {
    display: flex;
    align-items: center;
}

.email-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.user-dropdown-email {
    color: #818181;
    font-size: 12px;
    position: absolute;
    top: 29px;
    left: 35%;
}

.role-info {
    font-size: 10px;
    color: #ccc;
    margin-top: 5px;
    position: absolute;
    top: 40px;
    left: 50%;
}

.profile-icon {
    width: 30px;
    height: 30px;
}

.additional-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.small-info-box-header {
    font-family: Montserrat;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
    top: -15px;
    left: 28%;
    position: relative;
    text-decoration: none;
}

.small-info-box-button {
    height: 20px;
    position: relative;
    top: 40%;
    left: -14%;
    width: 50px;
    padding: 0px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #ffffff; !important;
    z-index: 6;
    justify-content: center;
    align-items: center;
}
.box-text {
    font-size: 11px;
    font-family: Montserrat;
    color: #818181;
    position: relative;
    left: 7px;
    top: 2px;
}

.small-info-box-logout,
.small-info-box-motive {
    cursor: pointer;
    width: calc(37% - 10px);
    height: 38px;
    padding: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.small-info-box-logout:hover,
.small-info-box-motive:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.small-info-box:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.navigation-bar {
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0);
    background-color: #fafafa;
    border-radius: 20px;
    width: 68%;
    height: 60px;
    position: absolute;
    left: 3%;
    top: 116px;
    opacity: 1;

}

.navigation-bar-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: Montserrat;
    color: #717171;;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    position: relative;
    top: 35%;
}

@media screen and (max-width: 1150px) {
    .navigation-bar button:nth-child(4) {
        display: none;
    }
}
@media screen and (max-width: 1050px) {
    .navigation-bar button:nth-child(8),
    .navigation-bar button:nth-child(5){
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .navigation-bar button:nth-child(9) {
        display: none;
    }
}

.result-box {
    width: 22%;
    height: 60%;
    background-color: #78d2ff;
    left: 74%;
    top: 116px;
    opacity: 1;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: #000000;
    border-radius: 20px;
    position: absolute;
}


.result-box-header {
    color: white;
    font-family: Montserrat;
    position: relative;
    top: 18px;
    left: 10%;
}

.result-box-numbers-window {
    font-size: 16px;
    height: 72%;
    width: 54%;
    padding: 0px;
    border-radius: 15px;
    background-color: #ffffff;
    position: relative;
    display: flex;
    left: 43%;
    top: -31%;
    z-index: 6;
}

@media screen and (max-width: 1050px) {
    .result-box-numbers-window {
        top: -25%; /* zmiana wartości top */
    }
}

@media screen and (max-width: 900px) {
    .result-box-numbers-window {
        top: -17%; /* zmiana wartości top */
    }
}

.result-box .percentage {
    position: relative;
    top: 28%;
    left: 7%;
    font-family: Montserrat;
    font-weight: 700;
    color: #717171;
}

.result-box .result-space {
    font-size: 150%;
    font-weight: 100;
    position: relative;
    top: 11%;
    left: 13%;
    font-family: Montserrat;
    color: #717171;
}

.result-box .result-value {
    position: relative;
    top: 28%;
    left: 16%;
    font-family: Montserrat;
    font-weight: 700;
    color: #717171;
}

.main-content-box {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0);
    background-color: #f0f0f0ba;
    border-radius: 20px;
    width: 68%;
    min-height: 533px;
    height: auto;
    position: absolute;
    left: 3%;
    top: 200px;
    opacity: 1;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    -moz-print-color-adjust: exact;
    color-adjust: exact;
}


input[type="checkbox"]::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid #99999954;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    vertical-align: bottom;
    margin-right: 4px;
    margin-left: 13px;
}

input[type="checkbox"]:checked::before {
    background-color: #737373;
}

.components-table{
    padding-top: 100px;
    width: 100%;
}
.components-main-content-box{
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0);
    background-color: #f0f0f0ba;
    border-radius: 20px;
    width: 68%;
    min-height: 533px;
    height: auto;
    position: absolute;
    left: 3%;
    top: 200px;
    opacity: 1;
}

.component-box {
    position: relative;
    padding: 10px;
    width: 29%;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 18px;
}

.component-image {
    width: 35%;
    height: auto;
    margin-right: 10px;
    position: absolute;
    top: 50%; /* Przesunięcie do połowy wysokości kontenera */
    transform: translateY(-50%); /* Wyśrodkowanie w pionie */
    left: 0; /* Ustawienie na lewo */
}

.component-details {
    width: 60%;
    position: relative;
    left: 42%;
    text-align: center;
}

.component-id {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.component-description {
    font-size: 11px;
}

.separator {
    border: 0;
    border-top: 1px solid #000;
    margin: 10px 0px;
}

.component-price {
    font-size: 12px;
}

.component-price-span{
    text-align: right;
}

.component-box hr {
    width: 87%;
    color: #818181;
}

.components-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    top: 80px;
}

.component-price span {
    font-weight: bold;
}

.component-category{
    font-size: 23px;
    color: #4f4f4f;
    font-weight: 400;
    top: 73px;
    position: relative;
    left: 5%;
    width: fit-content;
}
.component-label{
    border: none;
}

.component-variants{
    color: #4f4f4f;
    font-weight: 300;
    font-size: 13px;
    position: relative;
    top: 50px;
    left: 17%;
    width: fit-content;
}

.component-header{
    font-size: 30px;
    font-weight: 500;
    left: 40%;
    font-family: Montserrat;
    position: absolute;
    padding-top: 12px;
    color: #4f4f4f;
}

.side-task-box {
    width: 22%;
    height: 250px;
    background-color: #fafafa;
    left: 74%;
    top: 200px; /* Poprzednia pozycja */
    margin-bottom: 50px; /* Dodaj odstęp na dole */
    opacity: 1;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: #000000;
    border-radius: 20px;
    position: absolute;
}

.side-task-box-header-box{
    width: 100%;
    height: 30%;
    background-color: #78d2ff;
    left: 0%;
    top: 0%;
    opacity: 1;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: #000000;
    border-radius: 20px;
    position: absolute;
}

.side-task-box-header{
    color: white;
    font-family: Montserrat;
    position: absolute;
    left: 22%;
    top: 18%
}

@media screen and (max-width: 1050px) {
    .side-task-box-header {
        left: 20%; /* zmiana wartości top */
    }
}

@media screen and (max-width: 1000px) {
    .side-task-box-header {
        left: 19%; /* zmiana wartości top */
    }
}

@media screen and (max-width: 950px) {
    .side-task-box-header {
        left: 19%; /* zmiana wartości top */
        font-size: 90%;
    }
}
@media screen and (max-width: 900px) {
    .side-task-box-header {
        left: 18%; /* zmiana wartości top */
        font-size: 88%;
    }
}

@media screen and (max-width: 850px) {
    .side-task-box-header {
        left: 17%; /* zmiana wartości top */
        font-size: 86%;
    }
}

@media screen and (max-width: 800px) {
    .side-task-box-header {
        left: 16%; /* zmiana wartości top */
        font-size: 84%;
    }
}

@media screen and (max-width: 750px) {
    .side-task-box-header {
        left: 14%; /* zmiana wartości top */
        font-size: 70%;
    }
}

.side-task-box-task-header{
    font-family: Montserrat;
    color: #717171a8;
    font-weight: 300;
    font-size: 15px;
    left: 5%;
    top: 25%;
    position: absolute;
}

.side-task-box-task-number {
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 20px;
    left: 85%;
    top: 25%;
    position: absolute;
}

.side-task-box-task-backgroud-1 {
    width: 100%;
    height: 19%;
    background-color: #fafafa;
    top: 22%;
    opacity: 1;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: #000000;
    z-index: 5;
    position: relative; /* Ustawienie pozycji na relative */
    cursor: pointer;
}

/* Pseudoelement ::after */
.side-task-box-task-backgroud-1::after {
    content: "";
    position: absolute;
    bottom: -2px; /* Odległość podkreślenia od góry */
    width: 100%;
    left: 0%;
    height: 1px; /* Grubość podkreślenia */
    background-color: rgba(141, 141, 141, 0.4); /* Kolor podkreślenia */
}

.side-task-box-task-backgroud-2 {
    width: 100%;
    height: 19%;
    background-color: #fafafa;
    top: 23%;
    opacity: 1;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: #000000;
    z-index: 5;
    position: relative; /* Ustawienie pozycji na relative */
    cursor: pointer;
}

/* Pseudoelement ::after */
.side-task-box-task-backgroud-2::after {
    content: "";
    position: absolute;
    bottom: -2px; /* Odległość podkreślenia od góry */
    width: 100%;
    left: 0%;
    height: 1px; /* Grubość podkreślenia */
    background-color: rgba(141, 141, 141, 0.4); /* Kolor podkreślenia */
}

.side-task-box-task-backgroud-3 {
    width: 100%;
    height: 19%;
    background-color: #fafafa;
    top: 24%;
    opacity: 1;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: #000000;
    z-index: 5;
    position: relative; /* Ustawienie pozycji na relative */
    cursor: pointer;
}

/* Pseudoelement ::after */
.side-task-box-task-backgroud-3::after {
    content: "";
    position: absolute;
    bottom: -2px; /* Odległość podkreślenia od góry */
    width: 100%;
    left: 0%;
    height: 1px; /* Grubość podkreślenia */
    background-color: rgba(141, 141, 141, 0.4); /* Kolor podkreślenia */
}

.side-task-box-task-backgroud-4 {
    width: 100%;
    height: 19%;
    background-color: #fafafa;
    top: 24%;
    opacity: 1;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-radius: 20px;
    border-color: #000000;
    z-index: 4;
    position: relative;
    cursor: pointer;
}

.side-calendar-box {
    width: 22%;
    height: 250px;
    background-color: #fafafa;
    left: 74%;
    top: 443px; /* Poprzednia pozycja */
    margin-top: 40px; /* Dodaj odstęp na górze */
    opacity: 1;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: #000000;
    border-radius: 20px;
    position: absolute;
}

.calendar-box-header-box {
    width: 100%;
    height: 30%;
    background-color: #78d2ff;
    left: 0%;
    top: 0%;
    opacity: 1;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: #000000;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
}

.calendar-box-header {
    color: white;
    font-family: Montserrat;
    position: absolute;
    left: 35%;
    top: 18%;
    font-size: 18px;
}

.calendar-body {
    width: 100%;
    height: 73%;
    left: 0%;
    top: 25%;
    opacity: 1;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    position: absolute;
    z-index: 2;
}

.calendar-body-second{
    width: 100%;
    height: 60%;
    background-color: white;
    left: 0%;
    top: 21%;
    opacity: 1;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    position: absolute;
    z-index: 1;
}

.calendar-body th, .calendar-body td {
    text-align: center;
    padding: 5px;
    font-size: 17px;
    color: #717171;
}

.current-day {
    position: relative;
}

.current-day::before {
    content: "";
    width: 30px;
    height: 30px;
    background-color: rgba(120, 210, 255, 0.58);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.weekend {
    color: red; /* Ustaw kolor czcionki na czerwony dla dni weekendowych */
}

.footer {
    display: block;
    flex: 0 0;
    overflow: hidden;
    position: relative
}

.Footer-module-lower-ieG8u {
    margin-bottom: 24px;
    position: relative;
    text-align: center
}

.Scaffold-module-scaffold-F6aIC {
    margin: 15px 90px;
    position: relative
}


.Footer-module-copyright-myMzS {
    color: hsla(0, 0%, 93%, .7);
    font-size: 13px;
    font-weight: 400;
    line-height: 2rem;
    position: fixed;
    top: 95%;
    left: 42%;
}

.Footer-module-copyright-myMzS:after {
    background-repeat: no-repeat;
    background-size: 128px 30px;
    bottom: -2px;
    content: "";
    display: inline-block;
    height: 24px;
    margin-left: 8px;
    position: absolute;
    width: 128px
}

.Layout-module-login-page-f11Sa {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
}

.Modal_modalWrapper__GBKNS {
    position: fixed;
    z-index: 50;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 90%;
    max-width: 580px;
    height: auto;
    max-height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    border-radius: 0.9rem;
    --tw-bg-opacity: 1;
    background-color: rgb(237 237 237 / 31%);
    align-content: center;
    justify-content: center;
}

.Modal_modalBody__2_aM7{
    width: 80%;
}

.h1-login-form-header-HD2dE{
    font-weight: 700;
    font-size: 32px;
    color: white;
    letter-spacing: 3px;
    line-height: 40px;
    --tw-text-opacity: 1;
    --tw-bg-opacity: 1;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 30px;
}

.login-form-windows{
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.manage-message-login {
    font-size: 12px;
    text-align: center;
    width: 100%;
    margin-bottom: 13px;
}

.algin-text-login-page{
    margin-top: 3px;
    text-align: center;
    font-size: 13px;
}

.Input-login-window{
    position: relative;
    margin-bottom: 15px;
    display: inline-flex;
    align-items: center;
}

.Input_input__cDdvD{
    height: 2.5rem;
    width: 100%;
    border-radius: .5rem;
    padding: .5rem 1rem;
    caret-color: #eee;
    border: none;
}

.login-lower-text{
    color: white;
}

.submit-button-login-page{
    display: flex;
    justify-content: center;
    padding: 15px;
    height: 40px;
}

.submit-button-register-page{
    display: flex;
    justify-content: center;
    padding: 15px;
    height: 40px;
}

.register-message-login{
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding-bottom: 8px;
    font-family: Montserrat;
}

.PlayButtonText-module-container-tunCR {
    margin: 0 16px 16px 0
}

.Buttons-module-primary--YHdl {
    background-color: #fe365f;
    width: 125px;
    height: 90%;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    color: white;
    font-family: Montserrat;

}

.Buttons-module-primary--YHdl:hover {
    background-color: #e53156
}

.login-bottom-text-HD21d{
    margin-bottom: 10px;
}

.algin-text-login-page{
    margin-top: 3px;
    text-align: center;
    font-size: 13px;
    color: #4d4545;
}

.register-password-hint-hk53I {
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    width: 100%;
    color: #ffffff;
    padding: 5px;
    margin-bottom: 3px;
    font-family: Montserrat;

}






